/*======================

 Universal Styling

=======================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*======================

 Header Styling

=======================*/

header {
  background: rgb(138 94 114 / 89%);
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header li {
  display: inline;
}

header a {
  text-decoration: none;
  color: white;
  margin: 7px;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
}

header a:hover {
  color: rgb(75 117 160);
  transition: .3s;
}

/*======================

 Home Section Styling

=======================*/

.top-hero {
  background: url("../images/clouds.jpg") center/cover no-repeat fixed;
  min-height: 80vh;
  position: relative;
  z-index: 2;
}

h1.main {
  font-size: 64px;
  color: white;
  text-shadow: 1px 1px 4px black;
  position: absolute;
  right: 75px;
  top: 200px;
}

img.plane {
  position: absolute;
  left: 10px;
  top: 275px;
  animation: fly 10s linear infinite;
}

/*=============================

 Top Cities Section Styling

==============================*/

.section {
  background: url("../images/water.jpg") center/cover no-repeat scroll;
  position: relative;
}

h2.title {
  font-size: 56px;
  color: white;
  text-align: center;
  padding: 40px;
  text-shadow: 1px 1px 4px black;
}

.emphasis {
  color: pink;
  font-weight: bold;
}

.cities {
  clear: both;
  text-align: center;
}

.individual-city {
  display: inline-block;
  position: relative;
  width: 28%;
  padding: 20px 0 40px 0;
}

.individual-city h3 {
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  text-shadow: 1px 1px 4px black;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
